@import "tailwindcss";

body {
   font-family: "Roboto Flex", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important; /* your background color */
  -webkit-text-fill-color: #333 !important; /* text color */
  transition: background-color 5000s ease-in-out 0s;
}
